<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.6"/>
      <httpRuntime targetFramework="4.6"/>
    </system.web>



  <connectionStrings>
    <add name="ConnectionString"
          connectionString="Data Source=yourSQL server name; 
          Initial Catalog=database name;  
          Persist Security Info = True;
          User ID=database user;
          Password=password"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
    <system.codedom>
       
    </system.codedom>

</configuration>
